@font-face {
  font-family: 'Happiness-Sans-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Happiness-Sans-Title';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2205@1.0/Happiness-Sans-Title.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* no */
body,ul,li {
  margin:  0;
  padding: 0;
  list-style: none;
}
html, body{
  /* font-size: 20px; */
  background-color: #fff;
  max-width: 1920px;
  box-sizing: border-box;
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 400;
  color: #333;
  margin: 0 auto;
}

a{
  display: block;
  text-decoration: none;
}

img{
  display:block;
  width:100%;
}

/* li */

.con{
  width: 1440px;
  margin: 0 auto;
  position: relative;
}
.main>.con>div{
  padding: 0 20px;
  margin-top: 150px;
}

.title{
  font-size: 40px;
  font-weight: bold;
  width: 100%;
  text-align: start;
  margin-top: 20px;
}
.content{
  margin-top: 100px;
}
.content_cente{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
}
/* cu */

header{
  width: 100%;
  height: 691px;
}

.bg_img{
  width: 1440px;
  height: 691px;
}

.header__text{
  position: absolute;
  left: 100px;
  top: 140px;
  display: flex;
  flex-direction: column;
}
.header__title{
  font-size: 30px;
  font-weight: bold;
}
.header__logo{
  width: 225px;
  height: 83px;
  margin-top: 80px;
}
header section{
  width: 479px;
  font-size: 20px;
  margin-top: 23px;
}
header>.con>div:nth-child(3){
  width: 402px;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 0;
}
header>.con>div:nth-child(4){
  width: 136px;
  height: 132px;
  position: absolute;
  left: 418px;
  bottom: 72px;
}


/* main */
.main{
  margin-top: 150px;
  width: 100%;
  position: relative;
  /* background-color: yellow; */
  height: 15160px;
}
.main>.con{
  z-index: 1;
}
/* brand_intro */
.brand_intro{
  width: 100%;
  height: 937px;
  background-image: url(https://i.imgur.com/oGAMxFQ.jpg);
  background-repeat:no-repeat;
  background-size:contain;
}
.brand_intro__content{
  width: 1160px;
  height: 679px;
  border-radius: 30px;
  background-color: rgba(203,185,148,0.8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.brandintro__logo{
  width: 225px;
}
.brand_intro__content>section{
  width: 1006px;
  font-size: 20px;
  margin-top: 60px;
  text-align: center;
}
.brand_intro__content>section>span{
  margin-top: 40px;
  font-weight: 500;
  display: block;
}

/* background */
.background{
  width: 100%;
  height: 711px;
}
.bac_content{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.project_background{
  width: 600px;
}
.project__totle{
  font-size: 25px;
  font-weight: 500;
  color: #FF4713;
  margin-bottom: 50px;
}
.project_background__content{
  font-size: 20px;
}
.project_background__content>div:nth-child(2){
  margin-top: 40px;
}

.project_renewal{
  width: 600px;
}
.project_renewal__content{
  width: 100%;
  height: 340px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.project_renewal__content>section{
  width: 100%;
  height: 80px;
  border-radius: 65px;
  border: 3px solid #FF4713;
  font-size: 20px;
  line-height: 80px;
}
.project_renewal__content>section>div{
  margin-right: 10px;
  background-color: #FF4713;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  margin-left: 40px;
  display: inline-block;
}


/* needs */
.needs{
  width: 100%;
  height: 820px;
  background-image: url(https://i.imgur.com/NlbJZSp.jpg);
  background-repeat:no-repeat;
  background-size:contain;
}
.needs_content{
  display: flex;
  width: 1058px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content__title{
  font-size: 30px;
  width: 100%;
  padding: 0 69px;
  display: flex;
  justify-content: space-between;
  font-weight: 500;
}
.content__title>div{
  width: 360px;
  text-align: center;
}
.needs_content__box{
  width: 100%;
  display: flex;
  position: relative;
}
.content__box{
  margin-top: 50px;
  width: 600px;
  height: 490px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}
.content__box>section{
  width: 600px;
  height: 130px;
  border-radius: 65px;
  font-size: 20px;
  padding: 0 70px;
  display: flex;
align-items: center;
}
.box1>section{
  background-color: #F3F1EF;

}
.box2>section{
  background-color: white;
  border: 3px solid #FF4713;
}
.box2{
  position: absolute;
  right: 0;
}
.content__box>section>div{
  color: #FF4713;
  margin-right: 45px;
  font-size: 28px;
}


/* concep */
.concep{
  width: 100%;
  height: 740px;
}
.concep_content{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.concep_content>section{
  width: 1160px;
  display: flex;
  justify-content: space-between;
}
.concep_content>section>div{
  width: 280px;
  height: 280px;
}
.concep_content__text-1{
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 50px;
}
.concep_content__text-2{
  font-size: 20px;
  margin-top: 100px;
}

/* project_goal */
.project_goal{
  width: 100%;
  height: 860px;
  background-color: #CBB994;
  position: relative;
}
.project_goal>.title{
  color: white;
}
.project_goal__img{
  position: absolute;
  top: 0;
  left: 0;
}
.project_goal>div{
  z-index: 2;
}
.goal_content{
  width: 1160px;
  height: 572px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.goal_content>section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 950px;
  height: 406px;

}

.goal_content__text-1{
  font-size: 30px;
  font-weight: 500;
  text-align: center;
  width: 100%;
  margin-bottom: 100px;
}
.goal_content__text-2{
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  /* width: 770px; */
}
.goal_content__text-2>section{
  display: flex;
}
.goal_content__text-2>section>div{
  margin-right: 30px;
  background-color: #333333;
  color: white;
  width: 30px;
  height: 30px;
  border-radius: 15px;
  text-align: center;
  line-height: 30px;
  display: inline-block;
}
.goal_content__text-2>section>span{
  font-weight: bold;
}

/* overview */
.overview{
  width: 100%;
  height: 1250px;
  background-image: url(https://i.imgur.com/ZhTIX3o.jpg);
  background-repeat:no-repeat;
  background-size:contain;
}
.overview_content{
  width: 1160px;
  height: 679px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(	255,	132,	19, 0.5);
  border: 5px solid white;
  border-radius: 30px;
}
.overview_content>img{
  width: 1080px;
  height:599px;
}

/* design_system */
.design_system{
  width: 100%;
  height: 930px;
  position: relative;
  overflow: hidden;
}
.design_system_content{
  display: flex;
}
.design_system_content>div:first-child{
  margin-right: 120px;
}
.design_content__title{
  font-size: 30px;
  font-weight: 500;
  color: #FF4713;
  margin-bottom: 50px;
}
.design_content__font{
  width: 560px;
}
.design_content__font>ul{
  width: 100%;
  height: 530px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.design_content__font>ul>li>ul>li{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.design_content__font>ul>li>ul>li:first-child{
  font-size: 30px;
}
.design_content__font__title{
  margin-bottom: 20px;
  font-family: 'Happiness-Sans-Title';
}
.design_content__font__bold{
  margin-bottom: 20px;
  font-family: 'Happiness-Sans-Bold';
  font-weight: 700;
}
.design_content__font__regular{
  margin-bottom: 20px;
  font-family: 'Happiness-Sans-Bold';
}
.text-15{
  font-size: 15px;
}
.text-25{
  font-size: 25px;
}
.text-35{
  font-size: 35px;
}


.design_content__color{
  display: flex;
  justify-content: space-between;
  width: 475px;
}
.design_content__color>div{
  height: 100px;
  width: 100px;
  border-radius: 50px;
  color: white;
  text-align: center;
  line-height: 100px;
  font-size: 16px;
  box-shadow: 0px 3px 7px rgba(232,232,232,0.5);
}
.design_content__color__box-1{
  background-color: #FF4713;
}
.design_content__color__box-2{
  background-color: #A06950;
}
.design_content__color__box-3{
  background-color: #57342E;
}
.design_content__color__box-4{
  background-color: #333333;
}

.design_system_img{
  width: 450px;
  height: 531px;
  position: absolute;
  bottom: -28px;
  right: -55px;
  opacity: 0.5;
}

/* main_screen */
.mainscreen{
  width: 100%;
  height: 3257px;
}
.main_screen_content{
  display: flex;
  justify-content: center;
}
.main_screen__text{
  width: 336px;
  font-size: 20px;
  margin-right: 93px;
}
.main_screen__text li>span{
  color: #FF4713;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 30px;
  display: block;
}
.main_screen__text li>span:nth-child(2){
  color: #333;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.main_screen__text li:nth-child(1){
  margin-bottom: 20px;
}
.main_screen__text li:nth-child(2){
  margin-bottom: 137px;
}
.main_screen__text li:nth-child(3){
  margin-bottom: 185px;
}
.main_screen__text li:nth-child(4){
  margin-bottom: 160px;
}
.main_screen__text li:nth-child(5){
  margin-bottom: 136px;
}
.main_screen__text li:nth-child(6){
  margin-bottom: 133px;
}
.main_screen__text li:nth-child(7){
  margin-bottom: 115px;
}

.main_screen__img{
  width: 904px;
  height: 2987px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(	255,	132,	19, 0.5);
  border: 5px solid white;
  border-radius: 30px;
}
.main_screen__img>img{
  width: 841px;
  height:2925px;
}


/* grid_system */
.grid_system{
  width: 100%;
  height: 4458px;
}
.grid_system-content{
  width: 1301px;
  height: 4096px;
}

.bg_color{
  background-color: #FFFBF9;
  width: 100%;
  height: 7932px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.bg_color>img{
  position: absolute;
  bottom: 0;
  left: 0;
}
/* bn_img */
.bn_img{
  margin-top: 150px;
  width: 100%;
  height: 923px;
}
/* footer */
footer{
  width: 1920px;
  height: 400px;
  background-color: #FF4713;
}
footer>.con{
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.footer__logo{
  width: 420px;
  height: 154px;
}